streamlit
langchain-google-genai==2.1.5
langchain-huggingface
langchain-text-splitters
langchain-core
pypdf
requests
beautifulsoup4
python-docx
markdown
duckduckgo-search
faiss-cpu
numpy
nest-asyncio
sentence-transformers
