streamlit
langchain==0.1.16
langchain-core==0.1.45
langchain-google-genai==1.0.4
langchain-huggingface==0.0.3
langchain-community==0.0.32
chromadb==0.4.24 # Keep this version for chromadb
sentence-transformers==2.7.0 # Keep this
duckduckgo-search==5.3.0
nest-asyncio==1.6.0
pypdf==4.2.0
docx2txt==0.8
unstructured==0.12.6
python-magic==0.4.27